<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% content_for(:head) do %>
<beer hello></beer>
<% end %>
<div id="pitches_per_game_chart">
  
</div>



