<script type="text/javascript">
  
  var chart;
  function requestData() {
    $.ajax({
        url: '<%= pitches_per_game_url(params[:pitcher_id])%>',
        dataType: 'json',
        success: function(response) {
            data = response;
            title = "Pitches per game for " + data.pitcher.first_name + " " + data.pitcher.last_name;
            chart.setTitle({text: title});
            chart.series[0].setData(data.games );            
        },
        error: function(request, status, error) {
          alert("Error");
        },
        complete: function() {
        },
        cache: false
    });
}
  $('#tabs').on('tabsactivate', function (event, ui) {
    if (ui.newPanel.is($('#tabs-2'))) {
      chart = new Highcharts.Chart({
          chart: {
              renderTo: 'pitches_per_game_chart',
              events: {
                load: requestData
              },
              zoomType: 'x',
              type: 'line'
          },
          title: {
              
          },
          xAxis: {
              type: 'category'
          },
          yAxis: {
              title: {
                  text: 'Pitches'
              }
          },
          series: [{
              name: 'Pitches',
              data: []
          }]
      });
   }
});
</script>

<div id="pitches_per_game_chart">
  
</div>



