<script type="text/javascript">
  $(function () {
    $('#velocity_chart').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Pitch velocity for <%= "#{@pitcher.first_name} #{@pitcher.last_name}"  %> in game <%= @game.id %> '
        },
        xAxis: {
            categories: <%= raw((1..@pitches.count).to_a) %>
        },
        yAxis: {
            title: {
                text: 'MPH'
            }
        },
        series: [{
            name: 'Velocity',
            data: <%= raw(@pitches.map{|x| [x.pitch_type, x.pitch_initial_speed ]}) %>
        }]
    });
});
</script>

<div id="velocity_chart"></div>
