<script type="text/javascript">
  var chart;
  function requestData() {
    $.ajax({
        url: '<%= pitcher_game_velocity_url(params[:pitcher_id], params[:game_id])%>',
        success: function(data) {
            chart.series[0].setData($.parseJSON(data) );// addPoint(point, true, shift);
        },
        cache: false
    });
}
  $('#tabs').on('tabsactivate', function (event, ui) {
    if (ui.newPanel.is($('#tabs-2'))) {
      chart = new Highcharts.Chart({
          chart: {
              renderTo: 'velocity_chart',
              zoomType: 'x',
              events: {
                load: requestData
              }
          },
          title: {
              text: 'Pitch velocity for <%= "#{@pitcher.first_name} #{@pitcher.last_name}"  %> in game <%= @game.id %> '
          },
          xAxis: {
              //type: 'category'
          },
          yAxis: {
              title: {
                  text: 'MPH'
              }
          },
          series: [{
              name: 'Velocity',
              data: []
          }]
      });
    }
});
</script>

<div id="velocity_chart"></div>
