<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


<div id="pitch_breakdown">
  <%=  render 'pitch_breakdown' %>
</div>

<div id="pitches_per_game">
  <%=  render 'pitches_per_game' %>
</div>