

<h1><%= "#{@pitcher.pitcher_id} - #{@pitcher.first_name} #{@pitcher.last_name}" %> Career charts</h1>
<script>
   $(function() {
$( "#tabs" ).tabs();
});
</script>

<div id="tabs">
<ul>
<li><a href="#tabs-1">Pitch Breakdown</a></li>
<li><a href="#tabs-2">Pitches Per Game</a></li>
</ul>
<div id="tabs-1">
  <%=  render 'pitch_breakdown' %>
</div>
<div id="tabs-2">
<%=  render 'pitches_per_game' %>
</div>

</div>

<%= link_to "Back to pitchers", pitchers_path %>